SERVER_PORT=

DATABASE_PROVIDER=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=

EMAIL_FROM_EMAIL=
EMAIL_FROM_NAME=
EMAIL_PASSWORD=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=

DELAY_SECOND=
